/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.06.2014, 15:32:13
    Author     : thomas
*/

.knopf{
    padding: 5px;
    border: 10px;
    margin: 10px;
    background-color: #aaaaff;
}
.schnellknopf{
    padding: 5px;
    border: 10px;
    margin: 10px;
    background-color: #ffaaaa;
}

.idee{
    padding: 5px;
    border: 10px;
    background-color: #0000aa;
    color: #ffffff;
}

.wrapper {
    text-align: center;
}

.wrapper-links{
    text-align: left;
}

.wrapper-rechts{
    text-align: right;
}
table{
    margin-left: 50px;
    border-left: 50px;
}
.farbig{
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color: #ffaaaa;
       
}